
.target {
   height: 400px;
   border: 1px solid #dfdfdf;
   -moz-border-radius: 3px;
   -webkit-border-radius: 3px;
   border-radius: 3px;
   margin-top: 5px;
   padding: 5px;
}

.discussion {
   padding: 10px;
   border: 1px solid #dfdfdf;
   -moz-border-radius: 3px;
   -webkit-border-radius: 3px;
   border-radius: 3px;
}

.actions {
   padding: 10px;
   border: 1px solid #dfdfdf;
   -moz-border-radius: 3px;
   -webkit-border-radius: 3px;
   border-radius: 3px;
}

.pages {
   margin-top: 5px;
}