<div class="page-header">
  <h3>{{ page.title }} {% if page.tagline %} <small>{{ page.tagline }}</small>{% endif %}</h3>

<!-- Place this tag where you want the +1 button to render. -->
<div style="position: relative; top: -20px; text-align: right; height: 30px">
  <div class="g-plusone" data-size="small"></div>
</div>

<!-- Place this tag after the last +1 button tag. -->
<script type="text/javascript">
  (function() {
    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = false;
    po.src = 'https://apis.google.com/js/plusone.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
  })();
</script>

<div class="row">
  <div class="span12">
    {{ content }}
  </div>
</div>
